[Aa]pp.[Cc]onfig
[Ww]eb.[Cc]onfig
[Ww]eb.[Dd]ebug.[Cc]onfig
[Ww]eb.[Rr]elease.[Cc]onfig
_Archive*
~*
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*.sav
*.[Pp]ub[Xx][Mm][Ll]
