<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!-- In the following connections, set your own DataSource, User ID, and Password values.-->
    <add name="bankSQL"
    connectionString="Data Source=123.45.67.89;Initial Catalog=AnyDatabaseName;Integrated Security=False;User ID=ASQLUsername;Password=StrongPassword;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"
    providerName="System.Data.SqlClient" />
    <add name="bankEntities" connectionString="metadata=res://*/BankModel.csdl|res://*/BankModel.ssdl|res://*/BankModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=123.45.67.89;initial catalog=AnyDatabaseName;persist security info=True;user id=ASQLUsername;password=StrongPassword;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>