body, td {
 font-family: Calibri, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.hidden {
 display: none;
}

div.backButton {
 font-size: 14pt;
 font-weight: bold;
 vertical-align: middle;
 cursor: pointer;
}
div.backButton a {
 margin-left: 24px;
}
div.backButton a img {
 height: 32px;
}
div.backButton h2 {
 font-size: 24pt;
 font-weight: bold;
}
div.formBody {
 display: inline-block;
 border-radius: 24px;
 border: 2px solid #a3d0e4;
 background-color: #daedf5;
 padding: 10px;
}
div.record-icon {
 display: inline-block;
 background-size: 24px 24px;
 background-repeat: no-repeat;
 width: 24px;
 height: 24px;
}
div.record-name {
 display: inline-block;
 margin-left: 24px;
}

table.formFields {
 border: 0;
 border-collapse: collapse;
}


input.k-textbox {
 margin: 10px auto 10px auto;
 width: 300px;
}
.rdonly {
 background-color: #f0f0f0 !important;
}
.tpanel {
 display: block;
 font-size: 10pt;
 color: #909090;
 padding: 0;
 margin: 0;
}
.tcontent {
}
